.navbar {
  background-color: #fffbef;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2.5vmin;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1800px;
  background-color: #fffbef;
}

.navbar-logo {
  margin: auto;
  cursor: pointer;
  display: flex;
  flex-grow: 15;
  justify-content: flex-start;
  order: 1;
  width: auto;
  height: 50px;
  padding-left: 40px;
  padding-top: 10px;
}

.navlink-icon {
  width: 10px;
  height: auto;
  display: flex;
  justify-self: end;
  padding: 1px 2px;
}

.menu-icon {
  display: flex;
  justify-content: center;
  flex-grow: 2.5;
  order: 2;
  height: 50px;
  width: auto;
  padding-top: 10px;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.5rem;
}

.nav-menu {
  display: flex;
  background-color: #fffbef;
  justify-content: start;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  position: absolute;
  top: 80px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  list-style-type: none;
  pointer-events: none;
  padding-top: 50px;
}

.nav-menu.active {
  align-self: flex-start;
  background-color: #fffbef;
  opacity: 1;
  left: 50px;
  transition: all 0.2s ease-in-out;
  height: fit-content;
  padding-left: 20vmin;
  pointer-events: all;
}

/* .navbar-slider {
  overflow-y: hidden;
  max-height: 10rem; approximate max height
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
} */

.navbar-slider.closed {
  max-height: 0;
}

.nav-item {
  height: 80px;
}

.nav-links {
  display: flex;
  justify-content: start;
  text-align: center;
  padding: 1rem;
  width: 100%;
  text-decoration: none;
  color: #242424;
}

.nav-links:hover {
  border-bottom: 4px solid rgb(6, 6, 6);
  transition: all 0s ease-out;
}

.nav-links-mobile {
  display: none;
  align-items: center;
  text-align: center;
  margin: 0.5rem auto;
  border-radius: 4px;
  width: 100%;
  text-decoration: none;
  font-size: 3vmin;
  background-color: transparent;
  color: rgb(0, 0, 0);
  padding: 14px 200px;
  border: 1px solid rgb(0, 0, 0);
  /* transition: all 0.3s ease-out; */
}

.nav-links-mobile:hover {
  background: rgb(1, 1, 1);
  color: #ffffff;
  transition: 250ms;
}

.btns {
  font-size: 5px;
}

/* .nav-btn {
  display: flex;
  justify-content: center;
  order: 3;
  flex-grow: 1.2;
} */

/* .fa-bars {
  color: rgb(0, 0, 0);
  font-size: 3.5vmin;
  width: 22px;
}

.fa-times {
  color: rgb(0, 0, 0);
  background-color: #fffbef;
  font-size: 3.6vmin;
  width: 22px;
} */

/* @media screen and (max-width: 980px) {
  .NavbarItems {
    position: fixed;
    align-items: center;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background-color: #fffbef;
    left: 0;
    opacity: 0.95;
    transition: all 0.5s ease;
    z-index: 1;
    height: max-content;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .nav-btn {
    display: flex;
    justify-content: center;
    order: 3;
    flex-grow: 1;
    background-color: #fffbef;
  }

  .fa-times {
    color: rgb(0, 0, 0);
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 100%;
    text-decoration: none;
    font-size: 3vw;
    background-color: transparent;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    border: 1px solid rgb(0, 0, 0);
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: rgb(1, 1, 1);
    color: #ffffff;
    transition: 250ms;
  }
} */
